* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	text-align: center;
	color: white;
	background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGU4ZXNkMm95OXNjeTM5Zno1anVkYThvZWw4NWcyZjZyM2lsMGU2YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}
.header {
	background-image: url(https://media.giphy.com/media/TKZ9rCV0yXRV4ewQIa/giphy-downsized-large.gif);
	display: flex;
	justify-content: space-between;
}
.title {
	text-shadow: 2px 2px 1px yellow;
	margin-top: 20px;
}
.navs > ul {
	display: flex;
}
.navs > ul > li {
	padding: 0 10px;
	list-style-type: none;
	font-size: 20px;
}
.navs > ul > li > a {
	text-decoration: none;
	color: white;
}
.navs > ul > li > a:hover {
	color: black;
	background-color: white;
	border-radius: 5px;
}

.main {
	display: flex;
	align-items: center;

	flex-direction: column;
	justify-content: space-between;
}
.btn-explore {
	margin-top: 70vh;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 20px;
}
#close-btn,
#open-btn {
	display: none;
	padding: 5px 0px;
}

@media screen and (max-width: 768px) {
	.title {
		color: brown;
	}
	.navs {
		margin-top: 40px;
		display: none;
	}
	#open-btn {
		display: contents;
		/* display: none; */
	}
	#close-btn {
		display: none;
		right: 2px;
		position: absolute;
		padding-top: 5px;
	}
}
